

<h1>TodoList</h1>

<input #inputElement type="text" [(ngModel)]="input" placeholder="输入todo" />
<button [disabled]="!input.trim()" (click)="appService.unshiftTodo({ content: input.trim(), done: false }); input = ''; inputElement.focus()">新增</button>

<ul *ngIf="!!list.length">
  <li *ngFor="let todo of list">
    <app-comp-todo [content]="todo.content" [(done)]="todo.done">
      <a routerLink="detail" [queryParams]="{ id: todo.id }" style="margin-left: 10px">查看</a>
    </app-comp-todo>
  </li>
</ul>
